.App {
  text-align: center;
  background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2012/10/03/17896/fa2f7d0c52d227b7c117099395fdce6f-700.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  padding: 20px;
  color: darkblue;
}

.footer {
  margin-top: 20px;
  background-color: rgb(24, 21, 21);
  color: white;
}
.score {
  color: rgb(128, 0, 85);
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}